.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #808191;
  text-decoration: none;
  padding: 15px 20px;

  &:hover {
    color: #6c5dd3;
  }

  &-collapse {
    justify-content: center;
  }

  &-active {
    color: white;
    background: #6c5dd3;
    border-radius: 10px;

    &:hover {
      color: white;
    }
  }
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
