.example-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 15px;
}

.item-header {
  height: 150px;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #b194e8,
    #6cbdff,
    #11e0ff,
    #5ffbf1
  );
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
